In [54]:

import pandas as pd

In [55]:
toronto = pd.read_csv('toronto.csv')

### I download the csv file with the Postal codes in a dataframe

In [56]:
coord = pd.read_csv('geospatial_coordinates.csv')

### I rename the Postal Code columns to allow the merge with the other database

In [57]:
coord = coord.rename(columns = {'Postal Code':'Postcode'})

In [58]:
df1_new = pd.merge(df1, coord,  how = 'outer', on='Postcode')

### Here is the new dataframe

In [59]:
df1_new.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern,Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Port Union,Rouge Hill,Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Morningside,West Hill,Guildwood",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [62]:
df1_new.shape

(103, 5)

In [65]:
df1_new.to_csv('toronto_co.csv')