In [2]:

import pandas as pd

In [7]:
toronto = pd.read_csv('toronto.csv')

### I download the csv file with the Postal codes in a dataframe

In [8]:
coord = pd.read_csv('geospatial_coordinates.csv')

### I rename the Postal Code columns to allow the merge with the other database

In [9]:
coord = coord.rename(columns = {'Postal Code':'Postcode'})

In [10]:
toronto_new = pd.merge(toronto, coord,  how = 'outer', on='Postcode')

### Here is the new dataframe

In [11]:
toronto_new.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern,Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill,Port Union,Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Morningside,Guildwood,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [12]:
df1_new.shape

NameError: name 'df1_new' is not defined

In [13]:
toronto_new.to_csv('toronto_co.csv')